USE [master]
GO
/****** Object:  Database [XidianPicture]    Script Date: 06/20/2016 17:02:04 ******/
CREATE DATABASE [XidianPicture] ON  PRIMARY 
( NAME = N'bank1', FILENAME = N'D:\SQLXidiPicture\picturedat1.mdf' , SIZE = 102400KB , MAXSIZE = 204800KB , FILEGROWTH = 20480KB )
 LOG ON 
( NAME = N'Banklog1', FILENAME = N'D:\SQLXidiPicture\picturelog1.ldf' , SIZE = 102400KB , MAXSIZE = 204800KB , FILEGROWTH = 20480KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XidianPicture].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XidianPicture]
GO
/****** Object:  User [ghl]    Script Date: 06/20/2016 17:02:04 ******/
CREATE USER [ghl] FOR LOGIN [ghl] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[users]    Script Date: 06/20/2016 17:02:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[userid] [varchar](30) NOT NULL,
	[username] [varchar](30) NULL,
	[pswd] [varchar](30) NULL,
	[email] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
