USE [master]
GO
/****** Object:  Database [XidianPicture]    Script Date: 06/22/2016 11:54:44 ******/
CREATE DATABASE [XidianPicture] ON  PRIMARY 
( NAME = N'bank1', FILENAME = N'D:\SQLXidiPicture\picturedat1.mdf' , SIZE = 102400KB , MAXSIZE = 204800KB , FILEGROWTH = 20480KB )
 LOG ON 
( NAME = N'Banklog1', FILENAME = N'D:\SQLXidiPicture\picturelog1.ldf' , SIZE = 102400KB , MAXSIZE = 204800KB , FILEGROWTH = 20480KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XidianPicture].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XidianPicture]
GO
/****** Object:  User [ghl]    Script Date: 06/22/2016 11:54:44 ******/
CREATE USER [ghl] FOR LOGIN [ghl] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[users]    Script Date: 06/22/2016 11:54:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[userid] [varchar](30) NULL,
	[pswd] [varchar](30) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
