USE [master]
GO
/****** Object:  Database [IMAGE]    Script Date: 2016/6/22 22:55:20 ******/
CREATE DATABASE [IMAGE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IMAGE', FILENAME = N'D:\SqlServer\MSSQL12.SQLEXPRESS\MSSQL\DATA\IMAGE.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IMAGE_log', FILENAME = N'D:\SqlServer\MSSQL12.SQLEXPRESS\MSSQL\DATA\IMAGE_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IMAGE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IMAGE]
GO
/****** Object:  Table [dbo].[picture]    Script Date: 2016/6/22 22:55:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[picture](
	[name] [varchar](30) NULL,
	[description] [varchar](30) NULL,
	[type] [varchar](30) NULL,
	[photo] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
