USE [master]
GO
/****** Object:  Database [XDPicture]    Script Date: 06/23/2016 00:41:14 ******/
CREATE DATABASE [XDPicture] ON  PRIMARY 
( NAME = N'XDPicture', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\XDPicture.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'XDPicture_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\XDPicture_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XDPicture].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XDPicture]
GO
/****** Object:  Table [dbo].[picture]    Script Date: 06/23/2016 00:41:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[picture](
	[name] [varchar](30) NOT NULL,
	[description] [varchar](30) NULL,
	[type] [varchar](30) NULL,
	[image] [image] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
